.account-container.register.stacked
  .content.clearfix
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
      %h1 Create Your Account
      .login-fields
        = hidden_field_tag 'plan', params[:plan]
        %p Create your free account:
        .field
          = f.input :name, input_html: { class: "form-control" }, placeholder: "User Name", :autofocus => true
        .field
          = f.input :email, input_html: { class: "form-control" }, placeholder: "Email"
        .field
          = f.input :password, input_html: { class: "form-control" }, placeholder: "Password"
        .field
          = f.input :password_confirmation, input_html: { class: "form-control" }, placeholder: "Password Confirmation"
      .login-actions
        %span.login-checkbox
          %input#Field.field.login-checkbox{name: "Field", tabindex: "4", type: "checkbox", value: "First Choice"}/
          %label.choice{for: "Field"} I have read and agree with the Terms of Use.
        %button.login-action.btn.btn-primary Register
.login-extra
  = render "devise/shared/links"