.modal.fade{ role: "dialog", id: "artist-" + artist.id.to_s }
  .modal-dialog
    = simple_form_for artist, url: artist_path(artist), defaults: {input_html: { class: "form-control" }}, html: { method: :put, class: 'form-horizontal' } do |f|
      .modal-content
        .modal-header
          %a.close{"data-dismiss" => "modal"} ×
          %h4 Edit Artist
        .modal-body
          .row
            .col-sm-7
              = f.input :name, :autofocus => true
              = f.input :mbid
              = f.input :embed_video
              = f.input :space_url
              = f.input :website
              = f.input :twitter
              = f.input :facebook
            .col-sm-5
              = image_tag artist.avatar.url(:medium), class: "img-thumbnail img-responsive img-avatar mgn-t-20"
              = f.file_field :avatar, class: "hide file-avatar"
        .modal-footer
          = f.button :submit, "Update", :class => 'btn-primary'
          %a.btn.btn-default{"data-dismiss" => "modal", href: "#"} Close