<%= content_tag(:li, class: "comment") do %>
  <div class="comment-wrap clearfix">

    <div class="comment-meta">
      <span class="comment-author">
        <%= comment.website? ? link_to(comment.name, comment.website) : comment.name %>
      </span>

      <a href="javascript:;">
        <%= time_tag(comment.created_at, format: blogit_conf.datetime_format) %>
      </a>

    </div> <!-- /.comment-meta -->
    <div class="comment-body">
      <p>
      <%= format_content comment.body || "" %>
      </p>
    </div> <!-- /.comment-body -->
    <%= render partial: "blogit/comments/admin_links", locals: {comment: comment} %>
  </div>
<% end if comment.persisted? %>