.row
  .col-sm-12
    #search-panel.clearfix
      .pull-left
        %span
          Concerts within
        %select{name: "distance", required: "", "ng-model"=>"distance", "ng-change"=>"getEvents()"}
          %option{value: "2"} 2 miles
          %option{value: "3"} 3 miles
          %option{value: "5"} 5 miles
          %option{value: "10"} 10 miles
          %option{value: "15"} 15 miles
          %option{value: "20"} 20 miles
          %option{value: "30"} 30 miles
          %option{value: "40"} 40 miles
        %span of
        %input{name: "location", autocomplete: "off", "ng-model" => "location", placeholder: "Input location", type: "text", googleplace: "", "onclick"=>"this.select()"}

        / %input.input-small.datepicker{name: "start_date", placeholder: "Start Date", type: "text", value: "#{params[:start_date]}"}
        / %input.input-small.datepicker{name: "end_date", placeholder: "End Date", type: "text", value: "#{params[:end_date]}"}

        / .form-group-form
        /   .form-group.half.pull-left
        /     %label.checkbox
        /       %input{type: "checkbox"}
        /         Recommended
        /   .form-group.half.text-left.pull-right
        /     %label.checkbox
        /       %input{type: "checkbox"}
        /         Sale
      .pull-right
        .btn-group
          = change_view('list', 'Upcomming')
          = change_view('calendar', 'Calendar')
          = change_view('venue', 'Venues')