#content(ng-controller="HomeController" ng-init='location="#{params[:location]}"; getEvents();')
  = render "banner"
  .container
    = render "searchbar"
    .row-fluid
      %h3
        {{dt | date:'fullDate' }}
    .row-fluid
      .span8.events-list
        - @events.each_with_index do |event, i|
          .clearfix.border-1
            .span3
              %h4
                = get_time event.datetime
            .span9
              %h5
                %b Location: 
                #{event.venue.name}, #{event.venue.city}, #{event.venue.region}
              %h5
                %b Artists: 
                - event.artists.each do |artist|
                  #{artist.name}, 
              - if event.ticket_status == "available"
                %a.btn.btn-medium.btn-danger{src: "#{event.ticket_url}"} GET TICKET
      .span4.panel{style: "display:inline-block; min-height:290px;"}
        .well{"ng-model" => "dt"}
          %datepicker{min: "minDate", "show-weeks" => "false"}