#content(ng-controller="HomeController" ng-init='location="#{params[:location]}"; getEvents(); today();')
  = render "banner"
  .container
    = render "searchbar"
    #list_view{"ng-if"=>"view=='list'"}
      = render "list"
    #calendar_view{"ng-if"=>"view=='calendar'"}
      = render "calendar"
    #venue_view{"ng-if"=>"view=='venue'", "ng-init"=>"getLocation()"}
      = render "venues"