#content
  .panel.googleMaparea
    #googleMap
    .map-with-agent.visible-desktop
      %h3 Easy to search concerts around you.
      %img{alt: "ceo", src: "/assets/agents/n5.png"}
  / News Carousel
  .news-carousel-wrapper
    %dl#news-carousel.news-carousel-style
      %dt
        %a{href: "#"} News Link Here
      %dd Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.
      %dt
        %a{href: "#"} Promo Link Here
      %dd Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.
      %dt
        %a{href: "#"} Another Link Here
      %dd Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet.
  / End News Carousel
  .container
    .row-fluid
      .span9
        .panel.right-line
          / Start Grid Featured
          %h2.main-heading.bottom-line
            %span.main-circle-icon
              %i.icon-building
            Concerts Around you
          .featured-grid.right-space
            .box-white
              .grid-item.grid-style-properties
                - @events.each_with_index do |event, i|
                  .item
                    %a.with-hover{href: "events/#{event.artists[0].name.strip}"}
                      = image_tag artist_image_url(event), class: "full"
                      %span.mask_hover
                    %h4 #{event.venue.name}, #{event.venue.city}, #{event.venue.region}
                    .preview-properties
                      .box-detail
                        %p.text-center.short-detail
                          - event.artists.each do |artist|
                            %span.label
                              %i.icon-user
                              = artist.name
                          
                          %span.price
                        .clearfix
                          %a.btn-proper.btn.btn-small.pull-left{href: "#"} See Detail
                          %a.btn-proper.btn.btn-small.pull-right{href: "#"} Add Ticket

            / End Grid Featured
          / Start New List
          %h2.main-heading.bottom-line.top-line
            %span.main-circle-icon
              %i.icon-book
            News
          .news.right-space
            .media.box-white
              %a.pull-left{href: "#"}
                %img.media-object{alt: "images", src: "/assets/news/thum/n1.jpg"}
              .media-body
                %h4.media-heading Investor Club
                %p
                  Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                  Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                %a.btn-proper.btn.btn-small{href: "#"} Read More
              .media.box-white
                %a.pull-left{href: "#"}
                  %img.media-object{alt: "images", src: "http://placehold.it/150x90"}
                .media-body
                  %h4.media-heading Investor Club
                  %p
                    Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                    Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem fermentum ipsum dolor sit amet, ipsum dolor sit amet, consectetur fermentum adipiscing elit.
                  %a.btn-proper.btn.btn-small{href: "#"} Read More
              / End News List
      .span3
        .panel
          / Start Form Search Properties
          %h3.main-heading.bottom-line.line-before
            %span.main-circle-icon
              %i.icon-search
            Find Events
          %form.bottom-line.line-before{action: "/", method: "get"}
            %label Location
            %input.input-block-level{name: "location", placeholder: "Type Your Location", required: "", type: "text", value: "#{params[:location]}"}
            %label Radius
            %select.input-block-level{name: "", required: ""}
              %option{value: ""} This area only
              %option{value: ""} Within 1/4 mile
              %option{value: ""} Within 1/2 mile
              %option{value: ""} Within 1 mile
              %option{value: ""} Within 3 miles
              %option{value: ""} Within 5 miles
              %option{value: ""} Within 10 miles
              %option{value: ""} Within 15 miles
              %option{value: ""} Within 20 miles
              %option{value: ""} Within 30 miles
              %option{value: ""} Within 40 miles
            .control-group-form
              .control-group.half.pull-left
                %label.control-label Start Date
                .controls
                  %input.input-block-level{name: "start_date", placeholder: "Start Date", required: "", type: "text", value: ""}
  
              .control-group.half.text-right.pull-right
                %label.control-label End Date
                .controls
                  %input.input-block-level{name: "end_date", placeholder: "End Date", required: "", type: "text", value: ""}
                .clearfix
              .control-group-form
                .control-group.half.pull-left
                  %label.checkbox
                    %input{type: "checkbox"}
                      Recommended
                .control-group.half.text-left.pull-right
                  %label.checkbox
                    %input{type: "checkbox"}
                      Sale
              %button.input-block-level.btn-proper.btn.btn-large{type: "submit"} Search

              / Start List Our Agent
              %h3.bottom-line.line-before.main-heading
                %span.main-circle-icon
                  %i.icon-list
                Artists
              .list-items
                - @events.each do |event|
                  - event.artists.each do |artist|
                    .item
                      .img-preview
                        %img{alt: "#{artist.name}", src: artist.image_url}
                      .item-desk
                        .title
                          %h3
                            %a{href: "#"}= artist.name
                        .location #{event.venue.name}
                        %a.btn-proper.btn-mini.btn{href: "#"} Profile Page
                      .clearfix
              / End List Our AGents
= render template: "home/map.js.erb"