.modal.fade{ role: "dialog", id: "event-" + event.id.to_s }
  .modal-dialog
    = simple_form_for event, url: event_path(event), defaults: {input_html: { class: "form-control" }}, html: { method: :put, class: 'form-horizontal' } do |f|
      .modal-content
        .modal-header
          %a.close{"data-dismiss" => "modal"} ×
          %h4 Edit Event
        .modal-body
          .row
            .col-sm-6
              = f.input :title, autofocus: true
              = f.input :artists
              = f.input :ticket_url
              = f.input :ticket_price
              = f.input :perform_date, as: :string, input_html: { class: "datetimepicker form-control", readonly: true }
              = f.input :on_sale_datetime, as: :string, input_html: { class: "datetimepicker form-control", readonly: true }
              = f.input :description, as: :text
            .col-sm-6.hidden-xs
              = f.input :venue_name, input_html: { "googleplace" => "", "ng-model" => "venue.name" }
              = f.input :address, input_html: { "ng-model" => "venue.address", readonly: true}
              = f.input :city, input_html: { "ng-model"=>"venue.city" }
              = f.input :state, input_html: { "ng-model"=>"venue.state" }
              = f.input :country, input_html: { "ng-model"=>"venue.country" }, as: :string
              = f.input :phone_number, input_html: { "ng-model"=>"venue.phone_number" }
              = f.input :website, input_html: { "ng-model"=>"venue.website" }
              = f.hidden_field :latitude, input_html: { "ng-model"=>"venue.latitude" }
              = f.hidden_field :longitude, input_html: { "ng-model"=>"venue.longitude" }
              / %carousel{interval: 2000}
              /   %slide{active: "photo.active", "ng-repeat" => "photo in venue.photo_thumbs"}
              /     %img{"ng-src" => "{{photo.image}}", style: "margin:auto;"}/

        .modal-footer
          = f.button :submit, "Create", :class => 'btn-primary', type: :button, onclick: "form.submit()"
          %a.btn.btn-default{"data-dismiss" => "modal", href: "#"} Close