.container.events-list
  .row.mgn-t-30
    .col-md-9
      .row
        .col-sm-4
          %img.img-thumbnail{alt: "agent", src: "#{@artist.image_url}"}/
        .col-sm-8
          %h4 #{@artist.name}
          %strong Description:

      %br
      %h3.mgn-b-10
        %i.icon-calendar
        Upcoming events

      .box-white.min-height-200
        - @artist.events.each do |event|
          .clearfix.border-1
            .col-md-3
              / #{event.datetime.strftime("%c")}
              %p.datetime
                Sun Apr 13 2014
              %p.datetime
                22:00 PM

            .col-md-9
              %ul.list-inline
                - event.artists.each do |artist|
                  %li.text-left
                    %img.img-tiny{src: artist.image_url}
              %p
                %b Location: 
                #{event.venue.name}, #{event.venue.city}, #{event.venue.region}

              = link_to "GET TICKET", event.ticket_url, class: "btn btn-danger"
    .col-md-3.mgn-t-30
      = image_tag "/assets/poster/poster1.png", class: "img-responsive"
      - posters = Poster.all
      - posters.each do |poster|
        %br
        = poster.description.html_safe
        = link_to poster.website, poster.website, style: "word-wrap: break-word"
        = poster.video_url.html_safe
        %br
