.container.events-list
  .row.mgn-t-30
    .col-md-9
      .row
        .col-sm-4
          %img.img-thumbnail{alt: "agent", src: "#{@artist.image_url}"}/
        .col-sm-8
          %h4 #{@artist.name}
          %strong Description:

      %br
      %h3.mgn-b-10
        %i.icon-calendar
        Upcoming events

      .box-white.min-height-200
        - @artist.events.each do |event|
          .clearfix.border-1
            .col-md-3
              %h4
                #{event.datetime.strftime("%c")}
            .col-md-9
              %ul.list-inline
                - event.artists.each do |artist|
                  %li
                    %img.img-tiny{src: artist.image_url}
                    #{artist.name}
              %h4
                %b Location: 
                #{event.venue.name}, #{event.venue.city}, #{event.venue.region}

              = link_to "GET TICKET", event.ticket_url, class: "btn btn-danger"
    .col-md-3.mgn-t-30
      - posters = Poster.all
      - posters.each do |poster|
        - unless poster.image_file_size > 0
          = image_tag poster.image.url, class: "img-responsive"
        = poster.description.html_safe