<%= form_for(@post, html: {class: "new_blog_post", id: "new_blog_post"}) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%=t :prohibited_this_post_from_being_saved, scope: 'blogit.posts', count: @post.errors.count%></h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-5">
      <%= field do %>
        <%= f.label :tag_list, t(:name, scope: 'blogit.posts') %>
        <%= f.text_field :title, placeholder: t(:give_your_post_a_title, scope: 'blogit.posts'), class: "form-control" %>
      <% end %>
      <%= field id: "new_blog_post_tag_field" do %>
        <%= f.label :tag_list, t(:tags, scope: 'blogit.posts') %>
        <%= f.text_field :tag_list, placeholder: t(:tag_placeholder, scope: 'blogit.posts'), class: "form-control" %>
      <% end %>

      <p class="blog_post_tip">
        <%=t :tip_you_can_style_your_post_using, scope: 'blogit.posts', parser: blogit_conf.default_parser %>
      </p>
    </div>
    <div class="col-md-8">
      <%= field do %>
        <%= f.text_area :body, placeholder: t(:write_something_here, scope: 'blogit.posts'), class: "form-control blog-desc" %>
      <% end %>
      <br>
      <%= actions do %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to(t(:cancel, scope: 'blogit.posts'), @post.new_record? ? blog_root_path : post_path(@post), class: "btn btn-danger") %>
      <% end %>
    </div>
  </div>
<% end %>
