.container.blog
  .row.mgn-t-20
    .col-sm-8
      = render @post
      = share_bar_for @post
      = render "blogit/posts/post_footer", post: @post

      %h4 Comments
      .blog-seperator
      = comments_for @post
    .col-sm-4
      %br
      .alert.alert-warning
        Make sure to scroll down to view the
        %strong comments
        below!

      = render "blogit/posts/related", post: @post
